
.Heading{
    margin: auto;
    width: 19%;
    border-bottom: 4px solid #dc143c;
}
.TabHeading{
    margin: auto;
    width: 37%;
    border-bottom: 4px solid #dc143c;
}
.MobHeading{
    margin: auto;
    width: 60%;
    border-bottom: 4px solid #dc143c;
}
.texts{
    transition: transform 0.5s linear;
}
.texts:hover{
color:  #dc143c;
transform: scale(1.1);

    transition: 0.5s ease-in;
}
.line{
    width: 90%;
    height: 2px;
    margin: auto;
    /* background-color: white; */
    align-items: center;
    align-self: center;
  }
  .boxes{
    transition: transform 0.5s linear;
}
.boxes:hover{
    transform: scale(1.1);

    transition: 0.5s ease-in;
}